.nature-of-photography {
    position: relative;
    background: #13191d url(/nop-bg.jpg) top center no-repeat;
    /*#13191d*/
    background-size: cover;
    padding-top: 25px;
    /* padding-bottom: 50px; */
}

.nature-of-photography-container {
    max-width: 95%;
    margin: 0 auto;
}

.nature-of-photography:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
}

.nature-of-photography .container {
    position: relative;
}

.programs_imgbox .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.programs_imgbox .overlay .content_box {
    display: table;
    height: 100%;
    width: 100%
}

.programs_imgbox .overlay .content_box .programs-content {
    display: table-cell;
    vertical-align: bottom;
    padding-left: 20px;
    padding-bottom: 30px;
}

.programs_imgbox .overlay .content_box .programs-content h3 {
    font-family: var(--font-roboto);
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    line-height: 25px;
}

.programs_imgbox .overlay .content_box .programs-content h3 span {
    font-size: 20px;
}

.programs_imgbox {
    margin-bottom: 0;
    margin-top: 24px;
    position: relative;
}

@media (max-width < 640px) {
    .nature-of-photography .psingle-col {
        width: 100%;
        float: none;
        border: 3px solid red;
    }
}


@media (min-width > 769px) and (max-width < 1023px) {

    .psingle-col.plast_half {
        padding: 0px 15px;
    }

    .plast_box {
        padding: 0;
    }
}

@media (max-width < 768px) {

    .psingle-col.plast_half {
        width: 50%;
        float: left;
        padding: 5px 15px;
    }

    .plast_box {
        padding: 0;
    }

}

.nature-of-photography img {
    width: 100%;
}

.plast_box {
    margin-bottom: 50px;
}

@media (max-width < 480px) {
    .plast_box {
        padding: 0;
        margin: 0;
    }
}

.video-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
}