.inside-carousel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.c-header {
    display: block;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
}

.u-a5 {
    font-family: Arial;
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.u-b4 {
    font-family: Arial;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.3px;
    font-weight: normal;
    color: #ffffff;
}

a {
    text-decoration: none;
}

/* //MEDIA WRAPPER */
.u-media-wrapper {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 0;

    &--16-9 {
        padding-bottom: percentage(9/16);
    }
}

.u-media-wrapper--16-9 {
    padding-bottom: percentage(9 / 16);
}

/* // GRADIENT IMAGE OVERLAY */
.c-gradient-overlay {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 49% 50%,
            rgba(2, 21, 25, 0.3),
            rgba(2, 21, 25, 0.6));
}

.c-mouse-vertical-carousel {
    position: relative;
}

.c-mouse-vertical-carousel__list {
    position: absolute;
    right: 100px;
    top: 50px;
    z-index: 1;
    height: 350px;
    overflow: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.c-mouse-vertical-carousel__list::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.c-mouse-vertical-carousel__list-item {
    a {
        display: block;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: percentage(13/24);
    }
}

.c-mouse-vertical-carousel__list p {
    margin-bottom: 0px;
}

.c-mouse-vertical-carousel__list li {
    list-style: none;
    padding-left: 30px;
}

.c-mouse-vertical-carousel__eyebrow {
    position: relative;

    span {
        position: absolute;
        left: -30px;
        top: 2px;
    }
}


.c-mouse-vertical-carousel__title {
    max-width: 500px;
}


.c-mouse-vertical-carousel__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    will-change: transform;
    display: block;
    overflow: auto;
}

.c-mouse-vertical-carousel__list-item.active {
    transform: scale(1.1);
    opacity: 1;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.js-carousel {
    position: relative;
    overflow: visible;
    /* Allow moving list items to overflow */
}

.js-carousel-list-item {
    position: relative;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
}

.js-carousel-list-item.active {
    z-index: 2;
    transform: scale(1.05);
}

.js-carousel-list-item.is-hidden {
    opacity: 0 !important;
}

@media (width > 625px) and (width < 981px) {}

@media (width < 981px) {
    .c-mouse-vertical-carousel__bg-img {
        margin-top: 93px;
        height: 500px;
        /* border: 11px solid rgb(174, 235, 9); */
    }

    .c-header {
        height: 580px;
    }

    .c-mouse-vertical-carousel__list {
        right: 10px;
        top: 420px;
        height: 85px;
        /* border: 1px solid rgb(174, 235, 9); */
    }

    a {
        padding-top: 0px;
        padding-bottom: 15px;
    }
}

@media (width < 625px) {
    .c-mouse-vertical-carousel__bg-img {
        height: 400px;
    }

    .c-header {
        height: 495px;
        /* border: 1px solid red; */
    }

    .c-mouse-vertical-carousel__list {
        top: 380px;
        height: 65px;
    }

    .c-mouse-vertical-carousel__list-item {
        a {
            padding-top: 0px;
            padding-bottom: 15px;
        }
    }

    .u-a5 {
        font-size: 20px;
    }

    .u-b4 {
        font-size: 10px;

    }
}

@media (width < 425px) {}