.why-choose-us-section {
    position: relative;
    background: #13191d url(/aboutus-bg.jpg) top center no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 55px;
    margin-bottom: 25px;
    /* padding: 25px; */
    /* background-attachment: fixed; */
}

.why-choose-us-section:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
}

.why-choose-us-section .why-choose-content-container,
.why-choose-us-section .inner-container {
    position: relative;
}

/* .why-choose-content-container {
    display: grid;
    grid-auto-columns: repeat(auto-fill, minmax(300px, 1fr));
    
    gap: 20px;
    padding:20px;
    margin: 15px;
    grid-auto-flow: row
} */

.why-choose-content-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    ;
    gap: 20px;
    /* border:1px solid #fff; */
    /* border-radius: 10px; */
    padding: 20px;
    margin: 20px;
}

.why-choose-content-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 10px;
    min-height: 100px;
    /* padding:20px; */
    overflow: hidden;
}

.number-container {
    background-color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-choose-content-card p,
.why-choose-content-card h5 {
    color: #fff;
    margin: 0;
    /* border: 1px solid #ff0000; */
}

.number-container {
    margin-right: 20px;
}

.why-choose-content-card h4 {
    width: 80px;
    text-align: center;
    font-size: 60px;
    font-family: var(--font-roboto);
    color: #5e5e5e;
    font-weight: 700;
}
.why-choose-content-card p {
    font-size: 20px;
    font-family: var(--font-roboto);
    color: #ffffff;
    font-weight: 200;
    text-transform:capitalize;
}

.details-container {
    padding: 15px;
}

@media screen and (max-width: 768px) {
    .why-choose-content-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}