.aboutus-our-services-section {
    position: relative;
    background: #13191d url(/aboutus-bg.jpg) top no-repeat;

    background-size: cover;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 125px;
    padding:25px;
    /* background-attachment: fixed; */
}

.aboutus-our-services-section:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
}

.aboutus-our-services-section .aboutus-our-services-container-card,
.aboutus-our-services-section .inner-container {
    position: relative;
}

.aboutus-our-services-container-card-container {
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}


.aboutus-our-services-container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000040;
    border: 1px solid #ccc;;
    border-radius: 8px;
    padding: 20px;
    margin: 20px
}

.aboutus-our-services-container-card h3 {
    color: #fff !important;
    text-align: center;
    text-transform: capitalize;
}

.aboutus-our-services-container-card p {
    color: #797979 !important;
    font-size: 1rem;
    text-align: center;
}
.icon-container{
    display: flex;
    width:80px;
    height:80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    overflow: hidden;
}
@media screen and (max-width: 981) {
    .aboutus-our-services-container-card-container {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
    
}